.mainMenu {margin-top: 20px;}
.mainMenu .btn {width: 100%;}
.mainMenu #btnGerador, .mainMenu #btnEstatisticas  {color: #292b2c;background-color: #f8f8f8; border-color: #000; }
.btn-floating .small {background:  #3fc6a7; }
.input-field button[type="submit"] {background: #2fb995;}
.file-field .btn {min-width: 116px;}
.input-field.col label {line-height: 0px;}
.mgTop-25 {margin-top: 25px;}
.mainMenu .btnSelected {background-color: #6fd4bd !important; color: white !important;}
.arquivoBaseModal span {color: rgba(0, 0, 0, 0.87); margin: 0px 0px 0px 10px}
